#cabecera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../assetsinicio/dining-room-5114247_1920.jpg);
    background-size: cover;
    background-position: center;
}

#personajes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid: 30px;
    padding: 5px;
    background-color: black;
}

div {
    background-color: #f4bc00;
    border-radius: 5px;
    padding: 5px;
    gap: 30px;
    margin: 20px;
    color: #780909;

}

main div img{
    width: 100%;
}

h4 {
    font-size: 20px;
    align-items: center;
}

h1 {
    color: #f4bc00;
    text-align: center;
    font-size: 40px;
}


