body {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #f4bc00;
  height: auto;
}

:root {
  --color-primary: #780909;
  --color-secundary: #f4bc00;
}

header {
  background-color: var(--color-primary);
  color: var(--color-secundary);
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: var(--color-secundary);
  text-decoration: none;
  font-size: 22px;
}


main {
  display: flex;
  background-image: url(../assetsinicio/lei-min-1.jpg);
  background-size: cover;
  background-position: center;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#intro {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  margin-top: 50px;
}

h2 {
  font-size: 30px;
  margin-top: 100px;
}

#introduccion p {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;
}


#books-movies {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
}

#books-movies h3 {
  font-size: 26px;
  margin-bottom: 50px;
}

#books-list,
#movies-list {
  flex: 1;
  padding: 10px;
  justify-content: space-around;
}

#books-movies h4 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#books,
#movies {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#books li p,
#movies li p {
  margin: 5px 0 0;
}

#house {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

h2 {
  margin-top: 0;
}

.card {
  background-color: var(--color-primary);
  border: 1px solid var(--color-secundary);
  border-radius: 8px;
  padding: 20px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card span {
  display: block;
  margin-bottom: 5px;
}
:hover.card{
  background-color: #7c3131;
}


footer {
  background-color: var(--color-primary);
  color: var(--color-secundary);
  text-align: center;
  padding: 1em 0;
  width: 100%;
  bottom: 0;
  font-size: 20px;
}