body {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #f4bc00;
}

:root {
  --color-primary: #780909;
  --color-secundary: #f4bc00;
}

header {
  background-color: var(--color-primary);
  color: var(--color-secundary));
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: var(--color-secundary);
  text-decoration: none;
  font-size: 22px;
}

main {
  background-image: url(../assetsinicio/gabriel-kraus-3X5ZhsDClY8-unsplash.jpg);
  background-size: cover;
  padding: 10px;
}

/*#intro {
  max-width: 800px;
  margin: 0 auto;
}*/

h1 {
  font-size: 30px;
}
h2 {
  font-size: 28px;
}

#introduccion {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

#books-movies {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  
}

#books-movies h3 {
  font-size: 24px;
}

#books-list, #movies-list {
  flex: 1;
  padding: 10px;
  justify-content:space-around;
}

#books-movies h4 {
  font-size: 20px;
}


footer {
  background-color: var(--color-primary);
  color: var(--color-secundary);
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 20px;
}